#gameCanvas {
  border: 1px solid black;
  background-color: black;
}

#ingameText {
  background-color: #f4f0d2;
  border: 2px solid #c7bb2c;
  min-height: 70px;
  max-height: 150px;
  max-width: 352px;
  word-wrap: break-word;
  padding: 10px;
}